{% extends 'base_content.html' %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-8 offset-2'>
            <h1>{{ challenge.name }}</h1>
            <p>{{ challenge.description }}</p>
            <p>Points: {{ challenge.points }}</p>
            <form method='post' action="{% url 'enter_challenge' %}">
                {% csrf_token %}
                <input type='hidden' name='challenge_id' value='{{ challenge.id }}'>
                <button type="submit" class='btn btn-primary'>Enter Challenge</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}