{% extends 'base_content.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!-- <div class='row'> -->
    <div class="card full-card">
        <span>
            <!-- Search bar for title filter -->
            <form action="{% url 'search_expenditure' %}" method="GET">
                <input id="inputted_title" name="q" type="text" onblur="this.form.submit()" placeholder="Search by title">
                <button type="submit" class="btn btn-info btn-md">Go</button>
                <a id="refresh_table_button" class="btn btn-md btn-dark" href='{% url 'expenditure_list' %}'>↺</a>
            </form>
            <!-- Drop down for category filter -->
            <form action="{% url 'search_category' %}" method="GET">
                <label for="selected_category">Show only:</label>
                <select class="form-select" style="width:138px; display: inline-block;" id = "selected_category" name="q" onchange="this.form.submit()" >
                    <option>All</option>
                    {% for category in categories %}
                        <option value= {{ category.id }}>{{category}}</option>
                    {% endfor %}
                </select>
            </form>
            <!-- Drop down for general filter -->
            <form action="" method="GET">
                <label for="selected_filter">Filter by:</label>
                <select class="form-select" style="width:138px; display: inline-block;" id = "selected_filter" name="q" onchange="">
                    <option value="Descending">Descending</option>
                    <option value="Ascending">Ascending</option>
                    <option value="Oldest">Oldest</option>
                    <option value="Latest">Latest</option>
                </select>
            </form>
        </span>
        
        <!-- table -->
        <form id="expenditure_form" method="POST">
            {% csrf_token %}
        <table class="table mainTable">
            <div class="row">
                <div class="col-4">
                  <div class="d-grid gap-2 d-md-block">
                    <button type="button" name="delete" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</button>
                  </div>
                </div>
                <div class="col-4">
                    <div class="d-grid gap-2 d-md-block">
                    </div>
                </div>
            </div>
    </div>
            <thead class="mainThead">
                <tr>
                    <th scope="col" width="150px">Category</th>
                    <th scope="col" width="170px">Title</th>
                    <th scope="col" width="170px">Expense</th>
                    <th scope="col" width="200px">Time</th>
                    <th scope="col" width="330px">Description</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody class="mainTbody">
                <div class="scroll">
                    {% for spending in spendings %}
                        <tr>
                            <th scope="row"> <input id="radio" class = "form-check-input" type = "radio" name = "expenditure_pk" value = {{ spending.id }}></input> </th>
                            <td width="75px">{{ spending.category }}</td>
                            <td width="240px">{{ spending.title }}</td>
                            <td width="130px">£{{ spending.expense }}</td>
                            <td width="200px">{{ spending.date_created }}</td>
                            <td width="320px">{{ spending.description }}</td>
                            {% if spending.image %}
                            <!-- This code can show full images.
                                <td style="max-width:0px"><img src="media/{{ spending.image }} " alt="image"></td>
                            -->  
                                <td><a href="{{ spending.image.url }}">View image</a></td>
                            {% else %}
                                <td><a> None </a></td>
                            {% endif %}
                            <td><a class = "btn btn-sm btn-dark" href="{% url 'update_expenditure' spending.id %}"> ⚙️ </a></td>
                        </tr>
                    {% endfor %}
                </div>
            </tbody>
        </table>
    </form>
    </div>
<!-- </div> -->

<!-- delete modal -->
<div class="modal fade" id="delete_modal" tabindex="-1" aria-labelledby="delete_modal_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="delete_modal_label">Delete Expenditure</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this expenditure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger"  form="expenditure_form" formaction = "../remove_expenditure" method="POST">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- javascript for persisting drop down selection after onchange function occurs -->
  <script> 
    $('#selected_category').on('change', function() {
        localStorage.setItem("selected_category", $(this).val());
    });
    // $('#selected_filter').on('change', function() {
    //     localStorage.setItem("selected_filter", $(this).val());
    // });
    $(document).ready(function() {
        if (localStorage.getItem("selected_category")){//&&!(localStorage.getItem("selected_filter"))) {
            $('#selected_category').val(localStorage.getItem("selected_category"));
            // find way to reset table
        } //else if (localStorage.getItem("selected_filter")&&!(localStorage.getItem("selected_category"))){
        //     $('#selected_filter').val(localStorage.getItem("selected_filter"));
        // }else if(localStorage.getItem("selected_category")&&localStorage.getItem("selected_filter")) {
        //     $('#selected_filter').val(localStorage.getItem("selected_filter"));
        //     $('#selected_category').val(localStorage.getItem("selected_category"));
        // }
        // if (!(performance.navigation.type == 1)) {
        //     localStorage.clear();
        // } 
    });

    function get_expenditure_id() {
        document.getElementById("radio").value;
    }
    </script>
    

{% endblock %}
