{% extends 'base_content.html' %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class = 'card main-cardFive' style="margin: 30px">
            <h1>My Challenges</h1>
            {% if user_challenges %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Challenge</th>
                    <th scope="col">Date entered</th>
                    <th scope="col">Date completed</th>
                </tr>
                </thead>
                <tbody>
                    {% for user_challenge in user_challenges %}
                    <tr>
                        <td>{{ user_challenge.challenge.name }}</td>
                        <td>{{ user_challenge.date_entered }}</td>
                        {% if user_challenge.date_completed %}
                            <td>{{ user_challenge.date_completed }}</td>
                        {% else %}
                            <td>Not completed</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>You haven't entered any challenges yet.</p>
            <a class="btn btn-primary btn-sm" href="{% url 'challenge_list' %}" role="button">View challenges</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}