{% extends 'base_content.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="{% static avatar %}" style="width: 150px; height: 150px; border: 3px solid {{ user_tier_colour }}">
                    <h4 style="margin-top: 10px">{{ user.first_name }} {{ user.last_name }}</h4>
                    <p>{{ current_level_name }}
                        {% if user_tier_name != "" %}
                            ({{ user_tier_name|title }} tier)
                        {% endif %}
                    </p>
                    <p>Points: {{ user_level.points }}</p>
                    <p>Trees planted: {{user.trees}} </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h4>Achievements</h4>
                    <div class="row">
                        {% for user_achievement in user_achievements %}
                            <div class="col-md-3" style="display: inline-block">
                                <div class="card-body" style="text-align: center">
                                    <img src="{% static user_achievement.achievement.badge %}">
                                    <h5 class="card-title">{{ user_achievement.achievement.name }}</h5>
                                </div>
                            </div>
                        {% empty %}
                            <p>No achievements yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h4>Posts</h4>
                    {% for user_post in user_posts %}
                        <p><a href="{{user_post.get_url}}">{{ user_post.title }}</a></p>
                    {% empty %}
                        <p>No posts yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
