{% extends 'base_content.html' %}
{% load hitcount_tags %}
{% load static %}
{% block content %}



        <div class="container" style="margin:0px">

            <div class="navigate" style="margin-top:0px">
                <span> <a href="{% url 'forum_home' %}"> My Forum - Forums </a>  >> <a href="{{post.categories.all.0.get_url}}"> {{post.categories.all.0}} </a> >> <a href="{{post.get_url}}"> {{post.title}} </a> </span>
            </div>

                <div class="topic-container">
                    <div class="head">
                        <div class="authors"> Author </div>
                        <div class="content"> Topic: {{post.title}} (Read {% get_hit_count for post %} Times) </div>
                    </div>

                    <div class="body">
                        <div class="authors">
                            <div class="avatar-container"><img src="{% static avatars|get_forum_item:post.user.id %}" style="border: 3px solid {{ tier_colours|get_forum_item:post.user.id }}"/></div>
                            <div class="username"><a href="{% url 'profile' post.user.id %}">  {% if post.user.username is not None %}
                                                                    {{post.user.username|title}}
                                                                {% else %}
                                                                    {{post.user.first_name}} {{post.user.last_name}}
                                                                {% endif %}</a> </div>
                            <div> Role </div>
                            <div> Posts: <u> {{post.user.num_posts}} </u> </div>
                            <div> Points: <u> {{points|get_forum_item:post.user.id}} </u> </div>
                        </div>
                    </div>

                    <div class="content">
                        {{post.content|safe}}
                       <br>

                        <div class="comment">
                            <button onclick="showComment()"> Comment </button>
                        </div>

                    </div>
                </div>

                <!---Comment Input--->
                {% if post.closed == True %}

                <div style="background-color:#fff;color:#000;font-weight:bolder;padding:10px;width:100%;"> This post is closed. </div>

                {% else %} 
                
                {% if request.user.is_authenticated %}
                <form action="." method="post">
                    {% csrf_token %}
                <div class="comment-area hide" id="comment-area">
                    <textarea name="comment" id="" placeholder="Add Comment......"></textarea>
                    <input type="submit" value="Submit" name="comment-form">
                </div>
                </form>

                {% else %}

                <div style="background-color:#fff;color:#000;font-weight:bolder;padding:10px;width:100%;"> You must <a href="{% url 'home' %}"> <b> login </b> </a> to comment. </div>

                {% endif %}
                {% endif %}
        </div>

<!---Show Comments--->
{% for comment in post.comments.all %}
<div class="comments-container">
    <!-- <div class="head">
        <div class="authors"> Author </div>
        <div class="content"> Commnts </div>
    </div> -->

    <div class="body">
        <div class="authors">
            <div class="avatar-container"><img src="{% static avatars|get_forum_item:comment.user.id %}" style="border: 3px solid {{ tier_colours|get_forum_item:comment.user.id }}"/></div>
            <div class="AnotherUser"><a href="{% url 'profile' comment.user.id %}">{% if comment.user.username is not None %}
                                                        {{comment.user.username|title}}
                                                    {% else %}
                                                        {{comment.user.first_name}} {{comment.user.last_name}}
                                                    {% endif %}</a> </div>
            <div> Role </div>
            <div> Posts: <u> {{comment.user.num_posts}} </u> </div>
            <div> Points: <u> {{points|get_forum_item:comment.user.id}} </u> </div>
        </div>
    </div>

    <div class="content">
        {{comment.content}}

        <br>

        <div class="comment">
            <button onclick="showReply('comment{{comment.id}}')"> Reply </button>
        </div>

    </div>
</div>

<!---Reply Input--->
{% if post.closed == True %}

<div> This post is closed. </div>

{% else %}

{% if request.user.is_authenticated %}
<form action="." method="POST">
    {% csrf_token %}

    <div class="comment-area hide" id="comment{{comment.id}}">
    <textarea name="reply" id="" placeholder="Add reply......"></textarea>
    <input type="submit" value="Submit" name="reply-form">
    <input type="hidden" name="comment-id" value="{{comment.id}}">
    </div>
</form>

{% else %}

<div style="background-color:#fff;color:#000;font-weight:bolder;padding:10px;width:100%;"> You must <a href="{% url 'home' %}"> <b> login </b> </a> to reply. </div>

{% endif %}

{% endif %}

<!--- Reply Section -->
{% for reply in comment.replies.all %}
<div class="comments-container" style="width: 95%; margin-left: 5%">
    <!-- <div class="head">
        <div class="authors"> Author </div>
        <div class="content"> Commnts </div>
    </div> -->

    <div class="body">
        <div class="authors">
            <div class="avatar-container"><img src="{% static avatars|get_forum_item:reply.user.id %}" style="border: 3px solid {{ tier_colours|get_forum_item:reply.user.id }}"/></div>
            <div class="AnotherUser"><a href="{% url 'profile' reply.user.id %}"> {% if reply.user.username is not None %}
                                                    {{reply.user.username|title}}
                                                  {% else %}
                                                     {{reply.user.first_name}} {{reply.user.last_name}}
                                                  {% endif %}</a> </div>
            <div> Role </div>
            <div> Posts: <u> {{reply.user.num_posts}} </u> </div>
            <div> Points: <u> {{points|get_forum_item:reply.user.id}} </u> </div>
        </div>
    </div>


    <div class="content">
        {{reply.content}}

        <br>
    </div>
</div>

{% endfor %}
{% endfor %}
{% endblock content %}