{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href={% static "forum_static/style.css" %}/>
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap"/>
</head>
    <body>

        <header>
            <!--- Navbar --->
            <div class="navbar">
                <nav class="navigation hide" id="navigation">
                    <ul class="nav-list">
                        <span class="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
                        <li class="nav-item">
                            <a href="#"> Detail </a>
                        </li>
                        <li class="nav-item">
                            <a href="../posts/"> Posts </a>
                        </li>
                        <li class="nav-item">
                            <a href="../forum_home/"> Forum </a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
                <div class="brand"> My Forum </div>
            </div>
            <!---Search Box--->
            <div>
                <div class="search-box">
                    <div>
                        <select name="" id="">
                            <option value="everything"> Everything </option>
                            <option value="titles"> Titles </option>
                            <option value="description"> Description </option>
                        </select>
                        <input type="text" name="q" id="" placeholder"search ..."></input>
                        <button><i class="fa fa-search"></i></button>
                    </div>
            </div>
        </header>

        <div class="container">

            <div class="navigate">
                <span> <a href="#"> My Forum - Forums </a>  >> <a href="#"> Random Forum </a> >> <a href="#"> Random Post </a> </span>
            </div>

                <div class="topic-container">
                    <div class="head">
                        <div class="authors"> Author </div>
                        <div class="content"> Topic: Post's Title (Read 1258 Times) </div>
                    </div>

                    <div class="body">
                        <div class="authors">
                            <div class="userename"><a href="#"> Username </a> </div>
                            <div> Role </div>
                            <img src="https://cdn.pixabay.com/photo/2018/01/04/07/59/salt-harvesting-3060093_1280.jpg" alt="">
                            <div> Posts: <u> 45 </u> </div>
                            <div> Points: <u> 5421 </u> </div>
                        </div>


                    <div class="content">
                        Just a random conteent of aa random post.
                        <br> To see how it looks like.
                        <br><br>
                        Nothing interesting here...
                        <br><br>
                        <hr>
                        Regards Userename

                        <div class="comment">
                            <button onclick="showComment()"> Comment </button>
                        </div>

                    </div>
                </div>

                <!---Commnt Input--->
                <div class="comment-area hide" id="comment-area">
                    <textarea name="comment" id="" placeholder="Add Comment......"></textarea>
                    <input type="submit" name="" id="" value="submit">
                </div>
    </div>

<!---Show Comments--->
<div class="comments-container">
    <div class="head">
        <div class="authors"> Author </div>
        <div class="content"> Commnts </div>
    </div>

    <div class="body">
        <div class="authors">
            <div class="AnotherUser"><a href="#"> Username </a> </div>
            <div> Role </div>
            <img src="https://cdn.pixabay.com/photo/2018/01/04/07/59/salt-harvesting-3060093_1280.jpg" alt="">
            <div> Posts: <u> 45 </u> </div>
            <div> Points: <u> 5421 </u> </div>
        </div>


    <div class="content">
        Just a random comment of aa random post.
        <br> To see how it looks like.
        <br><br>
        Nothing interesting here...
        <br><br>

        <div class="comment">
            <button onclick="showReply()"> Reply </button>
        </div>

    </div>
</div>

<!---Reply Input--->
<div class="comment-area hide" id="reply-area">
    <textarea name="reply" id="" placeholder="Add reply......"></textarea>
    <input type="submit" name="" id="" value="submit">
</div>
</div>


    <footer>

        <span>&copy; &nbsp; Open Source | Selmi Abderrahim | Extended Implementation By Team Galin | All Rights Reserved </span>

    </footer>
        <script src={% static "forum_static/main.js" %}></script>
    </body>
</html>
