{% extends 'forum/forum_base.html' %}
{% load hitcount_tags %}
{% block content %}



        <div class="container">

            <div class="navigate">
                <span> <a href="#"> My Forum - Forums </a>  >> <a href="{{post.categories.all.0.get_url}}"> {{post.categories.all.0}} </a> >> <a href="{{post.get_url}}"> {{post.title}} </a> </span>
            </div>

                <div class="topic-container">
                    <div class="head">
                        <div class="authors"> Author </div>
                        <div class="content"> Topic: {{post.title}} (Read {% get_hit_count for post %} Times) </div>
                    </div>

                    <div class="body">
                        <div class="authors">
                            <div class="userename"><a href="#"> {{post.user.fullname|title}} </a> </div>
                            <div> Role </div>
                            <img src="{{post.user.profile_pic.url}}" alt="">
                            <div> Posts: <u> 45 </u> </div>
                            <div> Points: <u> 5421 </u> </div>
                        </div>


                    <div class="content">
                        {{post.content|safe}}
                       <br>

                        <div class="comment">
                            <button onclick="showComment()"> Comment </button>
                        </div>

                    </div>
                </div>

                <!---Comment Input--->
                <div class="comment-area hide" id="comment-area">
                    <textarea name="comment" id="" placeholder="Add Comment......"></textarea>
                    <input type="submit" name="" id="" value="submit">
                </div>
    </div>

<!---Show Comments--->
{% for comment in post.comments.all %}
<div class="comments-container">
    <!-- <div class="head">
        <div class="authors"> Author </div>
        <div class="content"> Commnts </div>
    </div> -->

    <div class="body">
        <div class="authors">
            <div class="AnotherUser"><a href="#"> {{comment.user.fullname|title}} </a> </div>
            <div> Role </div>
            <img src="{{comment.user.profile_pic.url}}" alt="">
            <div> Posts: <u> {{comment.user.num_posts}} </u> </div>
            <div> Points: <u> {{comment.user.points}} </u> </div>
        </div>


    <div class="content">
        {{comment.content}}

        <br>

        <div class="comment">
            <button onclick="showReply()"> Reply </button>
        </div>

    </div>
</div>

<!---Reply Input--->
<div class="comment-area hide" id="reply-area">
    <textarea name="reply" id="" placeholder="Add reply......"></textarea>
    <input type="submit" name="" id="" value="submit">
</div>
</div>

<!--- Reply Section -->
{% for reply in comments.replies.all %}
<div class="comments-container" style="width: 95%; margin-left: 5%">
    <!-- <div class="head">
        <div class="authors"> Author </div>
        <div class="content"> Commnts </div>
    </div> -->

    <div class="body">
        <div class="authors">
            <div class="AnotherUser"><a href="#"> {{reply.user.fullname|title}} </a> </div>
            <div> Role </div>
            <img src="{{comment.user.profile_pic.url}}" alt="">
            <div> Posts: <u> {{reply.user.num_posts}} </u> </div>
            <div> Points: <u> {{reply.user.points}} </u> </div>
        </div>
        </div>


    <div class="content">
        {{comment.content}}

        <br>

        <div class="comment">
            <button onclick="showReply()"> Reply </button>
        </div>

    </div>
</div>

{% endfor %}
{% endfor %}
{% endblock content %}