/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}

/*
 * Cover page
 */

#cover-image {
  background: url('images/music_school.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1.cover-heading {
  font-size: 4rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  background-color: rgb(245, 245, 245);
  left: 30%;
  width: 400px;
  height: 600px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 2.5%;
}

.btn-primary {
  width: 300px;
  border-radius: 50px 50px 50px 50px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  margin-right: 3px;
}
